### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [32]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",$3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,$1.56
2,2,Ithergue48,24,Male,92,Final Critic,$4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,$3.27
4,4,Iskosia90,23,Male,131,Fury,$1.44

## Player Count

* Display the total number of players

In [2]:
total_players_df = pd.DataFrame({"Total Players" : purchase_data["SN"].nunique()}, index = [0])
total_players_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
summary_df = pd.DataFrame({'Number of Unique Items': len(purchase_data["Item ID"].unique()), 
                           'Average Price': '${:.2f}'.format(purchase_data["Price"].mean()), 
                           'Number of Purchases': len(purchase_data["Price"]), 
                           "Total Revenue" : "${0:.2f}".format(purchase_data["Price"].sum())
                          }
                          , index=[0]
                         )
summary_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
genderPurchases_df = pd.DataFrame({'Total Count': purchase_data.groupby("Gender")["SN"].nunique()})
genderPurchases_df["Percentage of Players (%)"] = (genderPurchases_df["Total Count"]/purchase_data["SN"].nunique()*100).map("{0:,.2f}%".format)
genderPurchases_df

                       Total Count Percentage of Players (%)
Gender
Female                          81                    14.06%
Male                           484                    84.03%
Other / Non-Disclosed           11                     1.91%

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [5]:
bins = [0, 9, 14, 19, 24, 29, 34, 39, 100] #Bin#
binLables = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"] #label

purchase_data_uniqueplayers = purchase_data.drop_duplicates(subset='SN')
purchase_data_uniqueplayers

ageGrouping = pd.cut(purchase_data_uniqueplayers["Age"], bins, labels = binLables) # assigns bin value to each age,
ageGrouping.value_counts() # counts bin values to get total value # this is to check output
age_groups = pd.DataFrame({"Total Count" : ageGrouping.value_counts()}) # counts bin value totals puts into dataframe under column "Total Count", 
age_groups["Percentage of Players"] = (age_groups["Total Count"]/ageGrouping.count()*100).map("{0:,.2f}%".format) # caluclates age Total Count/total number of bins assigned *100, formattted for %
age_groups.sort_index(ascending=True) #sorts index in ascending order

       Total Count Percentage of Players
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [30]:
bins = [0, 9, 14, 19, 24, 29, 34, 39, 100] #Bin#
binLables = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"] #label

purchase_data_ageBins = purchase_data # make new dataframe equal to purchase data
purchase_data_ageBins["Age Groups"] = pd.cut(purchase_data["Age"], bins, labels = binLables) # assigns bin value to each age, added to row in new dataframe

purchase_data_ageSummary = pd.DataFrame({"Purchase Count" : purchase_data_ageBins["Age Groups"].value_counts()}) # assigns 
purchase_data_ageSummary["Average Purchase Price"] = (purchase_data_ageBins.groupby("Age Groups")["Price"].mean()) #groups by age and averages price per age group
purchase_data_ageSummary["Total Purchase Value"] = (purchase_data_ageBins.groupby("Age Groups")["Price"].sum()) #groups by age and sums all purchase prices by age group
purchase_data_ageSummary["Avg Total Purchase per Person Purchase"] = (purchase_data_ageSummary["Total Purchase Value"]/purchase_data_ageBins.groupby("Age Groups")["SN"].nunique()) #divides total purcahse value values by number of unique users "SN" as grouped by age group

pd.options.display.float_format = '${:,.2f}'.format # formats all floats to currency format

purchase_data_ageSummary.sort_index(ascending=True) #sorts index in ascending order and displays

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person Purchase
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [92]:
topSpenders_df = pd.DataFrame(
    {
        "Purchse Count" :
        purchase_data.groupby("SN")["Purchase ID"].count(),
        
        "Average Purchase Price" :
        purchase_data.groupby("SN")["Price"].sum()/topSpenders_df["Purchse Count"],
        
        "Total Purchase Value" : 
        purchase_data.groupby("SN")["Price"].sum(),
    }
)

topSpenders_df = topSpenders_df.sort_values(by="Total Purchase Value", ascending=False) #sort by Total Purchase Value in decending order 
topSpenders_df.head() #show only top 5 rows with .head()

             Purchse Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                5                   $3.79                $18.96
Idastidru52              4                   $3.86                $15.45
Chamjask73               3                   $4.61                $13.83
Iral74                   4                   $3.40                $13.62
Iskadarya95              3                   $4.37                $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame